* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background: hsl(225, 100%, 94%);
  height: 100vh;
}

a {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
}

a:hover {
  opacity: 0.7;
}

.container {
  max-width: 1440px;
  border-radius: 10px;
  background: #fff;
  height: 700px;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.container .hero {
  width: 100%;
  height: 100%;
}

.container .hero img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container .info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.container .info h1 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
}

.container .info p {
  width: 300px;
  text-align: center;
  color: hsl(224, 23%, 5%);
  font-weight: 400;
  line-height: 1.5;
  font-family: "Red Hat Display", sans-serif;
}

.container .info .plans {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fcf9ff;
  border-radius: 10px;
  padding: 15px 25px;
  gap: 20px;
  width: 100%;
  margin-bottom: 30px;
}

.container .info .plan-price {
  margin-left: -50px;
}

.container .info .plan-price h4 {
  margin-bottom: 10px;
}

.container .info .plan-price span {
  color: hsl(224, 23%, 55%);
}

.payment {
  background: hsl(245, 75%, 52%);
  color: #fff;
}

.cancel {
  color: hsl(224, 23%, 55%);
}

@media (max-width: 425px) {
  body {
    padding: 25px;
  }

  .container .info h1 {
    font-size: 26px;
  }

  .container .info p {
    font-size: 14px;
  }
  .container .info .plans .plan-price {
    margin-left: -5px;
  }

  a {
    font-size: 14px;
  }
}
